<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	        <property name="locations">  
	           <list>  
	                 <value>classpath:jdbc.properties</value>  
	           </list>  
	        </property>  
	    </bean>
    <!-- 配置数据源 -->
    <bean class="org.apache.commons.dbcp.BasicDataSource"
        id="dataSource">
        <property name="url">
			<value>${url}</value>
		</property>
        <property name="driverClassName">
         <value>${driver}</value>
        </property>
       <property name="username">
			<value>${username}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
		<property name="maxActive">
			<value>${maxActive}</value>
		</property>
		<property name="minIdle">
			<value>${minIdle}</value>
		</property>
		<property name="maxIdle">
			<value>${maxIdle}</value>
		</property>
    </bean>
    
    <!-- 配置SqlSessionFaction -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean"
        id="sqlSessionFactory">
        <property name="dataSource" ref="dataSource"></property>    
        <property name="mapperLocations" value="com/tck/entity/*.xml"></property>
        <property name="configLocation" value="classpath:/mybatis-config.xml"></property>
    </bean>
    
    <!-- 配置 mybatis 注解 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tck.dao"></property>
        <property name="annotationClass" value="com.tck.util.MyBatisRepository"></property>
    </bean>

        
</beans>